body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    gap: 16px;
    padding: 0;
}

.container {
    display: flex;
    width: 100vw;
}

.begin {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    background-color: #1f2937;
    padding: 24px;
    width: 100vw;
}

.topbar {
    width: 100vw;
    display: flex;
    flex: 1;
}

.topbutt button {
    background-color: #1f2937;
    font-size: 16px;
    color: #f9faf8;
    border-radius: 12.5px;
}

.brand {
    flex: 0 0 auto;
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    width: 50vw;
    align-items: baseline;
    gap: 24px;
}

.brand div {
    font-size: 32px;
    font-weight: bold;
    
}

.headbutt {
    flex: 1;
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
}

.topbutt {
    flex: 1;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    font-size: 18px;
}

.headmain {
    display: flex;
    justify-content: center;
    width: 100vw;
    gap: 16px;
}

.head {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: flex-start;
    gap: 4pxpx;
}

.head * {
    margin: 4px;
    padding: 4px;
}

.head h1 {
    font-size: 48px;
    font-weight: larger;
    color: #f9faf8;
}

.head p {
    font-size: 18px;
    color: #e5e7eb;
    text-align: justify;
}

.head button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 9px;
    font-size: medium;
}

.mainimg {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
}
.base {
    flex: 0 0 auto;
    display: flex ;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    height: 50px;
    width: 100vw;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 32px;
}

.bods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btop h1 {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.allpath {
    display: flex;
    gap: 36px;
}

.path {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.path img {
    outline: 2px solid #3882f6;
    border-radius: 25px;
} 

.path p {
    width: 300px;
}
.bmid {
    background-color: #e5e7eb;
    width: 100vw;
    padding: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.holdtest {
    display: flex;
    width: 40%;
    align-self: center;
}

.bmid blockquote {
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    margin: 8px;
}

.testify {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    order: -1;
}

.testify p {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 0 0 auto;
}

.call {
    width: 40%;
    height: fit-content;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8;
    gap: 24px;
    padding: 16px;
}

.callwords {
    width: 70%;
}

.call button {
    padding: 0 32px;
    border-radius: 12.5px;
    outline: 2px solid #f9faf8;
    background-color: #3882f6;
    font-size: 24px;
    color: #f9faf8;
}